{% extends "HospitalSystem/Base.html" %}

{% block title %}
Book Appointment
{% endblock %}

{% block content %}

<h1>Book an Appointment</h1>

<form method="post">

    {% csrf_token %}
    {{ form.non_field_errors }}
    
    <div>
        {{ form.doctor.label_tag }}
        {{ form.doctor }}
        {{ form.doctor.errors }}
    </div>

    <div>
        {{ form.appointment_date.label_tag }}
        {{ form.appointment_date }}
        {{ form.appointment_date.errors }}
    </div>

    <div>
        {{ form.appointment_time.label_tag }}
        {{ form.appointment_time }}
        {{ form.appointment_time.errors }}
    </div>

    <div>
        {{ form.appointment_details.label_tag }}
        {{ form.appointment_details }}
        {{ form.appointment_details.errors }}
    </div>

    <br>
    <button type="submit">Book Appointment</button>
</form>

<br>

<a href="{% url 'doctor_list' %}">Back to Doctors</a>

{% endblock %}