{% extends 'HospitalSystem/Base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>Piki Ora Medical Centre</h1>
    <p>Clinic Appointment System</p>
    {% if user.is_authenticated %}
        <h2>
            Welcome, {{ user.username }}
        </h2>
        <p>
            <a href="{% url 'doctor_list' %}" class="button">View Doctors</a>
        </p>
        <p>
            <a href="{% url 'book_appointment' %}" class="button">Book Appointment</a>
        </p>
        <p>
            <a href="{% url 'appointment_list' %}" class="button">My Appointments</a>
        </p>
        {% if user.is_staff  %}
             <hr>
                <p>
                    <a href="{% url 'admin_dashboard' %}">Administrator Dashboard</a>
                </p>
        {% endif %}
        <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>You are not logged in.</p>
        <p>
            <a href="{% url 'login' %}">Login</a>
        </p>
        <p>
            <a href="{% url 'register' %}">Register</a>
        </p>
    {% endif %}
{% endblock %}